*{
	margin: 0;
	padding: 0;
}
body{
	background: gray;
}
.wrapper{
	    width: 1200px;
    margin: 0 auto;

}

iframe{
	    width: 100%;
	    height: 100vh;
}
.fb-like{

        position: fixed !important;
    top: 50%;
    left: 0;
	transform: translatey(-50%);}
